:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --light-color-alt: #F5E3CB;
  --green-color: #84BE84;
  --pink-color: #C680B8;
  --yellow-color: #F7CF60;
  --blue-color: #93DEDA;
  --alt-blue-color: #90C5FB;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
}

@media (max-width: 1250px) {
  .blog-box {
    width: 300px;
  }  
}

@media (max-width:1100px) {
  .blog-box {
    width: 70%;
  }
}

@media (max-width: 550px) {
  .title {display: none;}
  [class*="col-"] {
    width: 100%;
  }
  .blog-box {
    margin: 20px 10px;
    width: 100%;
  }
  #blog {
    padding: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Libre Baskerville', serif;
  font-size: var(--font-size-sm);
  background-color: var(--light-color);
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  background: #000000;
  color: #FFFFFF;
  font-size: var(--font-size-sm);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 40px;
  
}

.logo {
  max-width: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}


.title {
  margin-left: 10px;
}

.list
.list-item {
  display: inline-block;
  list-style: none;
}

.bg-image {
  min-height: 50rem;
}

#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid #000000;
}

.blog-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-heading 
span {
  color: #84BE84;
}

.blog-heading 
h3 {
  font-size: var(--font-size-lg);
  color: #000000;
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box {
  width: 350px;
  background-color: var(--light-color-alt);
  border: 1px solid #C680B8;
  margin: 20px;
}

.blog-img {
  width: 100%;
  height: auto;
}

.blog-img 
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.blog-text 
span {
  color: #C680B8;
  font-size: var(--font-size-sm);
}

.blog-text 
.blog-title {
  font-size: var(--font-size-md);
  font-weight: 600;
  color: #000000;
}

.blog-text 
.blog-title:hover {
  color: #C680B8;
}

.blog-text p {
  color: #C680B8;
  font-size: var(--font-size-xs);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.blog-text
a {
  color: #000000;
}

.blog-text
a:hover {
  color: #C680B8;
}